<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        <ul id="user-list" class="list-group">
                            <!-- Populate the list of online users here -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" id="chat-header">Chat</div>
                    <div class="card-body">
                        <div>
                            <label for="recipient-select">Select a recipient:</label>
                            <select id="recipient-select" class="form-control">
                                <!-- Populate the options with usernames from your database, excluding the current user -->
                            </select>
                        </div>
                        <div id="message-box">
                            <!-- Chat messages will be displayed here -->
                        </div>
                        <input type="text" id="message-input" class="form-control" placeholder="Type a message...">
                        <button id="send-button" class="btn btn-primary">Send</button>
                        <!-- Hidden input to store the current user's value -->
                        <input type="hidden" id="current-user" value="{{ session['user'] }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('connect', function() {
            // Send a message to the server to get the list of online users
            socket.emit('get_users');
        });
    
        socket.on('user_connected', function(username) {
            // Handle user connection, add the user to the user list
            $('#user-list').append('<li class="list-group-item">' + username + '</li>');
    
            // Populate the recipient select, excluding the current user
            var currentUser = "{{ session['user'] }}";
            console.log('Connected user: ' + username);
            console.log('Current user: ' + currentUser);
            if (username !== currentUser) {
                $('#recipient-select').append($('<option>', {
                    value: username,
                    text: username
                }));
            }
        });
    
        socket.on('user_disconnected', function(username) {
            $('#user-list').find('li:contains(' + username + ')').remove();

            $('#recipient-select option[value="' + username + '"]').remove();
        });
    
        socket.on('message', function(data) {
            var messageWithTimestamp = data.sender + ' (' + getCurrentTimestamp() + '): ' + data.content;
            $('#message-box').append('<p>' + messageWithTimestamp + '</p>');
        });
    
        socket.on('users_list', function(users) {
            $('#user-list').empty();
            $('#recipient-select').empty();
        
            var currentUser = "{{ session['user'] }}";
            console.log('Users list: ' + users);
            console.log('Current user: ' + currentUser);
            users.forEach(function(user) {
                if (user.toLowerCase() !== currentUser.toLowerCase()) {
                    $('#user-list').append('<li class="list-group-item">' + user + '</li>');
                    $('#recipient-select').append($('<option>', {
                        value: user,
                        text: user
                    }));
                }
            });
        });
    
        $('#send-button').on('click', function() {
            var recipient = $('#recipient-select').val(); // Get the selected recipient from the dropdown
            var content = $('#message-input').val(); // Get the message content as a string
            if (recipient && content) {
                socket.emit('message', { recipient: recipient, content: content });
                $('#message-input').val('');
            }
        });
        
        function getCurrentTimestamp() {
            var now = new Date();
            var hours = now.getHours().toString().padStart(2, '0');
            var minutes = now.getMinutes().toString.padStart(2, '0');
            return hours + ':' + minutes;
        }
    </script>
    
</body>
</html>
